html
  include ./includes/head.pug
  body.mar00.fwht.bsea.f1
    include ./includes/actionresult.pug
    a.dpinblk.red.pad2(href='script:ttl_go_back()') 뒤로
    h2.semitransblack.tc 선장 고용
    div.tc
      img(src=captainTemplate.portrait)
    div.tc 항해 속도 증가: #{captainTemplate.speed}
    div.tc 선박 내구도 증가: #{captainTemplate.durability}
    div.tc 비용: #{captainTemplate.price}
    div.tc 월급: #{captainTemplate.salary}
    div.tc
      a.dpinblk.red.pad2(href='script:confirm_hire_captain(' + ship.ship_id + ',' + captainTemplate.id + ')') 고용하기
      a.dpinblk.red.pad2(href='script:ttl_go_back()') 취소
