html
  include ./includes/head.pug
  body.mar00.fwht.bsea.f1
    include ./includes/actionresult.pug
    a.dpinblk.red.pad2(href='script:ttl_go_back()') 뒤로
    h2.semitransblack.tc &#9157;#{ship.name}
    div.tc 최대 적재량: 100
    if dockedShipyard
      div.tc 상태: &#12307;#{dockedShipyard.name} 정박중
      div.tc
        a.dpinblk.red.pad2(href='script:sell_ship(' + ship.ship_id + ')') 선박 매각
    else
      div.tc
        div 상태: 운항중
    h3.semitransblack.tc 항로
    unless ship.shiproute_id
      div.tc
        a.dpinblk.red.pad2(href=`script:select_seaport('seaport1Id')`)
          div 항구 선택
          if seaport1
            div &diams;#{seaport1.name}
        div.dpinblknoline.pad2 &#x27a1;
        a.dpinblk.red.pad2(href=`script:select_seaport('seaport2Id')`)
          div 항구 선택
          if seaport2
            div &diams;#{seaport2.name}
      if seaport1 && seaport2
        div.tc
          a.dpinblk.red.pad2(href='script:confirm_new_route(' + ship.ship_id + ',' + seaport1.seaport_id + ',' + seaport2.seaport_id + ')') 항로 확정
    else
      div.tc
        if seaport1
          div.dpinblknoline.pad2 &diams;#{seaport1.name}
        else
          div.dpinblknoline.pad2 &diams;**사라진 항구**
        div.dpinblknoline.pad2 &#x27a1;
        if seaport2
          div.dpinblknoline.pad2 &diams;#{seaport2.name}
        else
          div.dpinblknoline.pad2 &diams;**사라진 항구**
      div.tc
        if dockedShipyard
          a.dpinblk.red.pad2(href='script:delete_route(' + ship.ship_id + ')') 항로 초기화
          a.dpinblk.red.pad2(href='script:start_route(' + ship.ship_id + ')') 운행 시작
        else
          a.dpinblk.red.pad2(href='script:move_to_nearest_shipyard(' + ship.ship_id + ')') 가까운 조선소로 회항