html
  include ./includes/head.pug
  body.mar00.fwht.bsea.f1
    include ./includes/actionresult.pug
    a.dpinblk.red.pad2(href='script:ttl_go_back()') 뒤로
    div.semitransblack.tc &#9157;#{ship.name}
    div.tc
      img(src=shipTemplate.portrait)
    table.semitransblack.pad0.mar0a.noborder.statfontsize
      tr
        td.textalignright.statcellw 최대적재량
        td :
        td.statcellw
          | #{shipStat.maxLoad}
          | &nbsp;
          if captain && captainTemplate && captainTemplate.maxLoad > 0
            span.statplus (+#{captainTemplate.maxLoad})
      tr
        td.textalignright.statcellw 이동속도
        td :
        td.statcellw
          | #{shipStat.moveSpeed}
          | &nbsp;
          if captain && captainTemplate && captainTemplate.moveSpeed > 0
            span.statplus (+#{captainTemplate.moveSpeed})
      tr
        td.textalignright.statcellw 하역속도
        td :
        td.statcellw
          | #{shipStat.loadingSpeed}
          | &nbsp;
          if captain && captainTemplate && captainTemplate.loadingSpeed > 0
            span.statplus (+#{captainTemplate.loadingSpeed})
      tr
        td.textalignright.statcellw 내구도
        td :
        td.statcellw
          | #{shipStat.durability}
          | &nbsp;
          if captain && captainTemplate && captainTemplate.durability > 0
            span.statplus (+#{captainTemplate.durability})
      tr
        td.textalignright.statcellw 위치
        td :
        td.statcellw
          if dockedShipyard
            div &#12307;#{dockedShipyard.name}
          else
            div 운항중
    //div.tc
      | 최대 적재량: 100
      | &nbsp;
      span.statplus (+5)
      | &nbsp;
      | 히히히
    if dockedShipyard
      if !captain
        div.tc
          a.dpinblk.red.pad2(href='script:sell_ship(' + ship.ship_id + ')') 선박 매각
    div.semitransblack.tc 선장
    if captain
      div.tc
        img(src=captainTemplate.portrait)
      div.tc #{captain.name}
      //div.tc 항해 속도 증가: #{captainTemplate.speed}
      //div.tc 선박 내구도 증가: #{captainTemplate.durability}
      //div.tc 비용: #{captainTemplate.price}
      div.tc 월급: #{captainTemplate.salary}
      if dockedShipyard
        div.tc
          a.dpinblk.red.pad2(href='script:fire_captain(' + ship.ship_id + ')') 해고
    else
      if dockedShipyard
        div.tc
          a.dpinblk.red.pad2(href='script:open_hire_captain(' + ship.ship_id + ')') 고용
    div.semitransblack.tc 항로
    unless ship.shiproute_id
      div.tc
        a.dpinblk.red.pad2(href=`script:select_seaport('seaport1Id')`)
          div 항구 선택
          if seaport1
            div &diams;#{seaport1.name}
        div.dpinblknoline.pad2 &#x27a1;
        a.dpinblk.red.pad2(href=`script:select_seaport('seaport2Id')`)
          div 항구 선택
          if seaport2
            div &diams;#{seaport2.name}
      if seaport1 && seaport2
        div.tc
          a.dpinblk.red.pad2(href='script:confirm_new_route(' + ship.ship_id + ',' + seaport1.seaport_id + ',' + seaport2.seaport_id + ')') 항로 확정
    else
      div.tc
        if seaport1
          div.dpinblknoline.pad2 &diams;#{seaport1.name}
        else
          div.dpinblknoline.pad2 &diams;**사라진 항구**
        div.dpinblknoline.pad2 &#x27a1;
        if seaport2
          div.dpinblknoline.pad2 &diams;#{seaport2.name}
        else
          div.dpinblknoline.pad2 &diams;**사라진 항구**
      div.tc
        if dockedShipyard
          a.dpinblk.red.pad2(href='script:delete_route(' + ship.ship_id + ')') 항로 초기화
          a.dpinblk.red.pad2(href='script:start_route(' + ship.ship_id + ')') 운행 시작
        else
          a.dpinblk.red.pad2(href='script:move_to_nearest_shipyard(' + ship.ship_id + ')') 가까운 조선소로 회항