//div.wspre
  | 자금 #{numeral(user.gold).format('0,0')}원
  //| 기름 #{numeral(user.oil).format('0,0')}L
//div.wspre.stat.red
//  | #{user.ship_name} 항해중
//  | 위도 #{user.x} 경도 #{user.y}
//  // | 요코하마까지 502.4 km
//div.wspre.date
  | #{moment().format('YYYY년 MM월 DD일')}
  | #{moment().format('HH:mm')}